{{ define "main" }}
    <div id="home-center">
        <h1 id="home-title">{{ .Site.Title }}</h1>

        {{- with .Site.Params.homeSubtitle }}
            <p id="home-subtitle">{{.}}</p>
        {{- end }}

        <br/>
        {{- with .Site.Params.featuredPostsTitle }}
            <p id="home-subtitle">{{.}}</p>
        {{- end }}

        {{ range .Site.Taxonomies.tags.featured }}

            <main class="post">
                <div class="post-info">
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>{{ i18n "readingTime" .Page.ReadingTime }}

                    {{ if .IsTranslated }}
                        | {{ i18n "postAvailable" }}
                        {{ range .Translations }}
                            <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
                        {{ end}}
                    {{ end }}

                    </p>
                </div>

                <article>
                    <h5 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h5>

                    {{ with .Params.Cover }}
                        <img src="/img/{{ . }}" class="post-cover" />
                    {{ end }}

                    <div class="post-content">
                        {{ .Summary }}
                    </div>

                    {{ if .Truncated }}
                        <div>
                            <a href="{{ .RelPermalink }}">Read More…</a>
                        </div>
                    {{ end }}
                </article>
                <div class="post-info">
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>{{ if .Site.Params.dateformNumTime }}{{ dateFormat .Site.Params.dateformNumTime .Date.Local }}{{ else }}{{ dateFormat "2006-01-02 15:04 -0700" .Date.Local }}{{ end }}</p>
                </div>
                <hr>
            </main>
        {{ end }}

        {{- with .Site.Params.social }}
            <div id="home-social">
                {{ partialCached "social-icons.html" . }}
            </div>
        {{- end }}
    </div>
{{ end }}
